{% from '_macros.html' import render_pagination, render_modal %}
{% extends '_index.html' %}

{% block results %}
{% for a in addresses %}
  <tr>
    <td>{{ a.street }}</td>
    <td>{{ a.cep }}</td>
    <td>{{ a.district }}</td>
    <td>{{ a.city.name }}</td>
    <td class="col-md-2">
      <a href="{{ url_for('addresses.edit', id=a.id, format='view') }}" class="btn btn-raised btn-info" title="Visualizar">
        <i class="fas fa-eye"></i>
      </a>
      {% if current_user.is_admin() %}
        <a href="{{ url_for('addresses.edit', id=a.id) }}" class="btn btn-raised btn-warning" title="Editar">
          <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-raised btn-danger" data-delete-href="{{ url_for('addresses.delete', id=a.id) }}" onclick="app.methods.remove(this)" title="Remover">
          <i class="fas fa-trash"></i>
        </a>
      {% endif %}
    </td>
  </tr>
{% endfor %}
{% endblock %}

{% block paginator %}
{{ render_pagination(pagination, 'addresses.index', criteria=criteria, order=order, **filters) }}
{% endblock %}

{% block dialog %}
{% call render_modal('modal-delete', 'Remover Endereço', yes_text='Remover', yes_icon='trash', yes_color='danger') %}
  <p>Deseja realmente remover o endereço?</p>
{% endcall %}
{% endblock %}
