{% from '_macros.html' import render_field %}

{% if not request.accept_mimetypes.accept_json or not request.is_xhr %}
{% extends "base.html" %}
{% block title %}Endereço{% endblock %}
{% endif %}

{% block body %}

{% if not request.accept_mimetypes.accept_json or not request.is_xhr %}
{% include "navbar.html" %}
<div class="container-fluid">
  <div class="row">
    {% include "sidebar.html" %}
    <div class="col">
      <form id="addresses" class="needs-validation" action="" data-method="{{ method }}" novalidate>
        <div class="card">
          <div class="card-header">
            <h3>
              <i class="fas fa-user text-primary"></i> {{label}}
            </h3>
          </div>
          <div class="card-body">
{% endif %}

            <div class="form-row">
              {{ form.csrf_token }}
              {{ render_field(form.street, class_="col-md-10", required=True)}}
              {{ render_field(form.district, class_="col-md-4", required=True)}}
              {{ render_field(form.city_id, class_="col-md-4", required=True)}}
              {{ render_field(form.cep, class="cep", class_="col-md-2", required=True)}}
            </div>

{% if not request.accept_mimetypes.accept_json or not request.is_xhr %}
          </div>
          <div class="card-footer bg-dark">
            <button id="submit" name="submit" class="btn btn-raised btn-{{color}}" type="submit">
              <i class="fas fa-save"></i> Salvar
            </button>
            <button class="btn btn-raised btn-info cancel" type="button">
              <i class="fas fa-ban"></i> Cancelar
            </button>
          </div>
      </form>
        </div>
    </div>
  </div>
{% endif %}

{% endblock %}
