{% from '_macros.html' import  render_field, render_pagination, render_modal, render_multi_field %}
{% extends '_index.html' %}

{% block search %}
{{ form.search(class='form-control', placeholder=form.search.label.text, autofocus=True) }}
{% endblock %}

{% block filters %}
{{ render_multi_field(form.filters) }}
{% endblock %}

{% block clause %}
{{ render_field(form.clause, class='form-control') }}
{% endblock %}

{% block order %}
{{ render_field(form.order, class='form-control') }}
{% endblock %}

{% block headers %}
{% for _, label in headers %}
<th scope="col">{{ label }}</th>
{% endfor %}
<th scope="col">Ação</th>
{% endblock %}

{% block result %}
{% for d in doctors %}
    <tr>
      <td>{{ d.name }}</td>
      <td>{{ d.crm }}</td>
      <td>
      <a href="{{ url_for('doctors.edit', id=d.id, format='view') }}" class="btn btn-raised btn-info" title="Visualizar">
        <i class="fas fa-eye"></i>
      </a>
      {% if current_user.has_permissions('admin') %}
      <a href="{{ url_for('doctors.edit', id=d.id) }}" class="btn btn-raised btn-warning" title="Editar">
          <i class="fas fa-edit"></i>
      </a>
      <a class="btn btn-raised btn-danger" data-action="{{ url_for('doctors.delete', id=d.id) }}" onclick="app.methods.remove(this)" title="Remover">
          <i class="fas fa-trash"></i>
      </a>
      {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block paginator %}
{{ render_pagination(pagination, 'doctors.index', search=search, filters=filters, clause=clause, order=order) }}
{% endblock %}

{% block dialog %}
{% call render_modal('modal-delete', 'Remover Médico', yes_text='Remover', yes_icon='trash', yes_color='danger') %}
<p>Deseja realmente remover o Médico?</p>
{% endcall %}
{% endblock %}
