{% from '_macros.html' import render_field %}

{% extends "_view.html" %}

{% block editor %}
{{ form.csrf_token }}
{{ render_field(form.name, class_="col-md-6", required=True)}}
{{ render_field(form.crm, class_="col-md-6", required=True) }}
{% endblock %}

{% block report %}
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th class="col-md-1">{{ form.name.label }}</th>
      <td>{{ form.name.data }}</td>
    </tr>
    <tr>
      <th class="col-md-1">{{ form.crm.label }}</th>
      <td>{{ form.crm.data }}</td>
    </tr>
  </table>
</div>
{% endblock %}
