{% from '_macros.html' import render_pagination, render_modal %}
{% extends '_index.html' %}

{% block results %}
  {% for d in deceased %}
    <tr>
      <td>{{ d.name }}</td>
      <td>{{ d.city.name }}</td>
      <td>{{ d.death_datetime | strftime }}</td>
      <td>{{ d.grave.zone.description }} {% if d.grave.zone.complement %} - {{ d.grave.zone.complement }}{% endif %}<br>Rua {{ d.grave.street }} - Túmulo {{ d.grave.number }}</td>
      <td>
        <a href="{{ url_for('deceased.edit', id=d.id, format='view') }}" class="btn btn-raised btn-info" title="Visualizar">
          <i class="fas fa-eye"></i>
        </a>
        {% if current_user.is_admin() %}
          <a href="{{ url_for('deceased.edit', id=d.id) }}" class="btn btn-raised btn-warning" title="Editar">
            <i class="fas fa-edit"></i>
          </a>
          <a class="btn btn-raised btn-danger" data-action="{{ url_for('deceased.delete', id=d.id) }}" onclick="app.methods.remove(this)" title="Remover">
            <i class="fas fa-trash"></i>
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block paginator %}
{{ render_pagination(pagination, 'deceased.index', criteria=criteria, order=order, **filters) }}
{% endblock %}

{% block dialog %}
{% call render_modal('modal-delete', 'Remover Falecido', yes_text='Remover', yes_icon='trash', yes_color='danger') %}
  <p>Deseja realmente remover o Falecido?</p>
{% endcall %}
{% endblock %}
