{% from '_macros.html' import render_field, render_multi_field %}

{% extends "_view.html" %}

{% block editor %}
{{ form.csrf_token }}
{{ render_field(form.name, class_="col-md-12", minlength=1, maxlength=255) }}
{{ render_field(form.registration, class="number", class_="col-md-6", minlength=1, maxlength=40, required=True)}}
{{ render_multi_field(form.gender, 'radio', class_="col-md-2", required=True) }}
{{ render_field(form.ethnicity_id, class_="col-md-4", required=True) }}
{{ render_field(form.civil_state_id, class_="col-md-3") }}
{{ render_field(form.birth_date, class="date", class_="col-md-3") }}
{{ render_field(form.age, class_="col-md-1") }}
{{ render_field(form.birthplace_id, class="city", class_="col-md-5") }}
{{ render_field(form.filiations, label="bmd-label-static", class="filiation", class_="col-md-12") }}
<div class="form-row col-md-12 border">
  {{ render_field(form.home_address_id, class="address", class_="col-md-9") }}
  {{ render_field(form.home_address_number, class_="col-md-1", minlength=1, maxlength=5) }}
  {{ render_field(form.home_address_complement, class_="col-md-2") }}
</div>
{{ render_field(form.death_datetime, class="datetime", class_="col-md-3", required=True) }}
<div class="form-row col-md-12 border">
  {{ render_field(form.death_address_id, class="address", class_="col-md-9", required=True)}}
  {{ render_field(form.death_address_number, class_="col-md-1", minlength=1, maxlength=5)}}
  {{ render_field(form.death_address_complement, class_="col-md-2")}}
</div>
{{ render_field(form.cause, class_="col-md-12", maxlength=1500, required=True, rows=4)}}
{{ render_field(form.zone_id, class="zone", class_="col-md-6", required=True)}}
{{ render_field(form.grave_id, class="grave", class_="col-md-6", required=True)}}
{{ render_field(form.doctor_id, class="doctor", class_="col-md-6", required=True)}}
{{ render_field(form.registry_id, class="registry", class_="col-md-6", required=True)}}
{% endblock %}

{% block report %}
<div class="table-responsive">
  <table class="table table-striped table-dark lead">
    <tr>
      <th class="col-md-auto">{{ form.name.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ form.name.data }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.registration.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ form.registration.data }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.grave_id.label.text }}:</th>
      <td class="text-warning font-weight-bold">
        <p>{{ dict(form.zone_id.choices).get(form.zone_id.data) }}</p>
        <p>{{ dict(form.grave_id.choices).get(form.grave_id.data) }}</p>
      </td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.gender.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ dict(form.gender.choices).get(form.gender.data) }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.ethnicity_id.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ dict(form.ethnicity_id.choices).get(form.ethnicity_id.data) }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.civil_state_id.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ dict(form.civil_state_id.choices).get(form.civil_state_id.data) }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.birth_date.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ form.birth_date.data | strftime('%d/%m/%Y') }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.age.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ form.age.data }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.birthplace_id.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ dict(form.birthplace_id.choices).get(form.birthplace_id.data) }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.filiations.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ form.filiations.data.replace(',', ' e ') }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.home_address_id.label.text }}:</th>
      <td class="text-warning font-weight-bold">
        {% if form.home_address_id.data %}
        {{ dict(form.home_address_id.choices).get(form.home_address_id.data) }}, Nº {{ form.home_address_number.data }} {% if form.home_address_complement.data %}- {{ form.home_address_complement.data }}{% endif %}</td>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.death_datetime.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ form.death_datetime.data | strftime }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.death_address_id.label.text }}:</th>
      <td class="text-warning font-weight-bold">
        {{ dict(form.death_address_id.choices).get(form.death_address_id.data) }}, Nº {{ form.death_address_number.data }} {% if form.death_address_complement.data %}- {{ form.death_address_complement.data }}{% endif %}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.cause.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ form.cause.data }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.doctor_id.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ dict(form.doctor_id.choices).get(form.doctor_id.data) }}</td>
    </tr>
    <tr>
      <th class="col-md-auto">{{ form.registry_id.label.text }}:</th>
      <td class="text-warning font-weight-bold">{{ dict(form.registry_id.choices).get(form.registry_id.data) }}</td>
    </tr>
  </table>
</div>
{% endblock %}
