{% from '_macros.html' import render_field %}

{% extends "_view.html" %}

{% block editor %}
{{ form.csrf_token }}
{{ render_field(form.name, class_="col-md-12", minlength=1, maxlength=255) }}
{{ render_field(form.age, class_="col-md-1") }}
{{ render_field(form.birth_date, class="date", class_="col-md-2") }}
{{ render_field(form.death_datetime, class="datetime", class_="col-md-2", required=True) }}
{{ render_multi_field(form.gender, 'radio', class_="col-md-1 px-1", required=True) }}
{{ render_field(form.ethnicity_id, class_="col-md-1", required=True) }}
{{ render_field(form.civil_state_id, class_="col-md-2") }}
{{ render_field(form.birthplace_id, class="city", class_="col-md-3") }}
{{ render_field(form.filiation_id, class_="col-md-12") }}
{{ render_field(form.home_address_id, class="address", class_="col-md-12") }}
{{ render_field(form.home_address_number, class_="col-md-1", minlength=1, maxlength=5) }}
{{ render_field(form.home_address_complement, class_="col-md-3") }}
{{ render_field(form.registration, class="number", class_="col-md-4", minlength=1, maxlength=40, required=True)}}
{{ render_field(form.registry_id, class_="col-md-4", required=True)}}
{{ render_field(form.doctor_id, class_="col-md-6", required=True)}}
{{ render_field(form.death_address_id, class="address", class_="col-md-12", required=True)}}
{{ render_field(form.death_address_number, class_="col-md-1", minlength=1, maxlength=5)}}
{{ render_field(form.death_address_complement, class_="col-md-3")}}
{{ render_field(form.grave_id, class_="col-md-6", required=True)}}
{{ render_field(form.cause, class_="col-md-12", maxlength=1500, required=True, rows=4)}}
{% endblock %}
