html {
  min-height: 100%;
  position: relative;
}
body {
  background-image: url("/static/img/background2.jpg");
  background-size: cover;
  margin-bottom: 80px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.alert {
  position: absolute;
  top: 0;
  width: 100%;
}
[class*=" bmd-label"], [class^="bmd-label"] {
  color: rgba(0, 0, 0, .52);
}
.card {
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.85) !important;
  border-radius: .3rem;
}
.card-header:first-child {
  border-radius: .3rem;
}
.card-footer:last-child {
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.footer {
  bottom: 0;
  height: 100px;
  line-height: 80px;
  position: absolute;
  width: 100%;
}
.img-responsive {
  margin-bottom: 10px;
}
