{% from '_macros.html' import  render_field %}

{% extends 'base.html' %}

{% set formsize = form.filters.data.keys()|length - 1 %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<div class="container-fluid">
  <div class="row">
    {% include 'sidebar.html' %}
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3>
            <i class="fas {{ icon }} text-primary"></i> {{ title }}
          </h3>
        </div>
        <div class="card-body bg-secondary">
          {% if current_user.is_admin() %}
            <a class="btn btn-raised btn-success" href="{{ create_url }}">
              <i class="fas fa-plus"></i> Adicionar
            </a>
          {% endif %}
        </div>
        <div class="table-responsive">
          <form id="search" class="mb-0" action="" method="get" accept-charset="utf-8">
            <table class="table table-hover mb-0">
              <thead>
                </tr>
                <tr class="thead-dark">
                  <th colspan="{{ formsize }}">
                    <i class="fas fa-filter text-warning"></i> Filtros
                  </th>
                  <th class="col-md-2">
                    <i class="fas fa-wrench text-warning"></i> Ações
                  </th>
                </tr>
                <tr id="filters" class="bg-light">
                  {% for field in form.filters -%}
                    {% if field.type != 'CSRFTokenField' -%}
                      <th scope="col">
                        <div class="input-group">
                          {% if loop.first %}
                            {{ field(class="form-control font-weight-bold", placeholder=field.label.text, autofocus=True) }}
                          {% else %}
                            {{ field(class="form-control font-weight-bold", placeholder=field.label.text) }}
                          {% endif %}
                        </div>
                      </th>
                    {%- endif %}
                  {%- endfor %}
                  <th scope="col" class="col-md-2">
                    <div class="btn-group" role="group">
                      <a id="clean" class="btn btn-warning btn-raised" href="{{ clean_url }}" title="Limpar">
                        <i class="fas fa-times"></i>
                      </a>
                      <a class="btn btn-secondary btn-raised" href="#order" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="order" title="Ordenação">
                        <i class="fas fa-sort"></i>
                      </a>
                      <button class="btn btn-dark btn-raised" type="submit" title="Buscar">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </th>
                </tr>
                <tr id="order" class="collapse bg-light">
                  <td colspan="{{ formsize + 1 }}">
                    <div class="card">
                      <h6 class="card-header"><i class="fas fa-sort text-primary"></i> Ordenação</h6>
                      <div class="card-body py-0">
                        <div class="row">
                          <div class="col-md-3">
                            {{ render_field(form.criteria, class='form-control') }}
                          </div>
                          <div class="col-md-2">
                            {{ render_field(form.order, class='form-control') }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody id="results">
                {% block results -%}{%- endblock %}
                <tr class="bg-white">
                  <td colspan="{{ formsize + 1 }}">
                    {% block paginator -%}{%- endblock %}
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% block dialog -%}{%- endblock %}
{% endblock %}
