{% macro render_field(field) -%}
<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
  {% if (field.type != 'HiddenField' and field.type != 'CSRFTokenField')%}
  {{ field.label(class='bmd-label-floating') }}
  {% endif %}

  {{ field(class_='form-control ' + kwargs.pop('class', ''), **kwargs) }}

  {% if field.errors %}
    {% for e in field.errors %}
    <div id="{{ field.name }}-error" class="invalid-feedback">{{ e }}</div>
    {% endfor %}
  {% endif %}
</div>
{%- endmacro %}

{% macro render_checkbox_field(field) -%}
<div class="form-group {{ kwargs.pop('class', '') }}">
  <div class="form-checkbox {{ kwargs.pop('class_', '') }}">
    {{ field(type='checkbox', class_="form-check-input", **kwargs) }}
    {{ field.label(class_="form-check-label") }}
  </div>
</div>
{%- endmacro %}

{% macro render_multicheckbox_field(field) -%}
<div class="form-group {{ kwargs.pop('class_', '') }}">
{% for value, label, checked in field.iter_choices() %}
  <div class="form-checkbox {{ kwargs.pop('class', '') }}">
    <input id="{{ field.id }}-{{ loop0 }}" class="form-check-input" type="checkbox" name="{{ field.name }}" value="{{ value }}" {% if checked %}checked{% endif %}>
    <label class="form-check-label" for="{{ value }}">{{ label }}</label>
  </div>
{% endfor %}
</div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
{% set args = kwargs.pop('class_', '') %}
{% for value, label, _ in field.iter_choices() %}
<div class="radio {{ args }}">
  <label>
    <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
  </label>
</div>
{% endfor %}
{%- endmacro %}


{% macro render_pagination(pagination, endpoint) %}
<nav>
  <ul class="pagination justify-content-center">
    {% if pagination.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}" aria-label="previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    {% for p in pagination.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
      {% if p %}
        {% if p != pagination.page %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
        </li>
        {% else %}
        <li class="page-item active">
          <a class="page-link" href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
        </li>
        {% endif %}
      {% else %}
      <li class="page-item disabled">
        <span class="ellipsis">&hellip;</span>
      </li>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}" aria-label="next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}

{% macro render_modal(name, title, yes_text='Salvar', yes_icon='save', yes_color='success', no_text='Cancelar', no_icon='ban', no_color='info') -%}
<div class="modal fade {{ name }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {{ caller() }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-{{ yes_color }} btn-yes">
          <i id="icon" class="fas fa-{{ yes_icon }}"></i> {{ yes_text }}
        </button>
        <button type="button" class="btn btn-raised btn-{{ no_color }}" data-dismiss="modal">
          <i class="fas fa-{{ no_icon }}"></i> {{ no_text }}
        </button>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
