{% macro render_field(field, label='bmd-label-floating') -%}
<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
  {% if (field.type != 'HiddenField' and field.type != 'CSRFTokenField' and field.type != 'SelectField') %}
  {{ field.label(class=label) }}
  {% elif (field.type == 'SelectField') %}
  {{ field.label(class='bmd-label-static') }}
  {% endif %}

  {{ field(class_='form-control ' + kwargs.pop('class', ''), **kwargs) }}

  {% if field.errors %}
    {% for e in field.errors %}
    <div id="{{ field.name }}-error" class="invalid-feedback">
      <strong>{{ e }}</strong>
    </div>
    {% endfor %}
  {% endif %}
</div>
{%- endmacro %}

{% macro render_checkbox_field(field) -%}
<div class="form-group {{ kwargs.pop('class', '') }}">
  <div class="form-checkbox {{ kwargs.pop('class_', '') }}">
    {{ field(type='checkbox', class_="form-check-input", **kwargs) }}
    {{ field.label(class_="form-check-label") }}
  </div>
</div>
{%- endmacro %}

{% macro render_multi_field(field, type) -%}
<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
  {{ field.label(class='bmd-label-static') }}
  {% for subfield in field %}
  <div class="form-check{% if type == 'checkbox' %}box{% endif %}">
    {{ subfield(class_='form-check-input' + kwargs.pop('class', ''), **kwargs) }}
    {{ subfield.label(class='form-check-label') }}
  </div>
  {% endfor %}
</div>
{%- endmacro %}

{% macro render_pagination(pagination, endpoint) %}
<nav>
  <ul class="pagination justify-content-center">
    {% if pagination.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}" aria-label="Anterior">
        <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
      </a>
    </li>
    {% endif %}

    {% for p in pagination.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
      {% if p %}
        {% if p != pagination.page %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
        </li>
        {% else %}
        <li class="page-item active">
          <a class="page-link" href="{{ url_for(endpoint, page=p, **kwargs) }}"><strong>{{ p }}</strong></a>
        </li>
        {% endif %}
      {% else %}
      <li class="page-item disabled">
        <span class="ellipsis">&hellip;</span>
      </li>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}" aria-label="Próximo">
        <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}

{% macro render_modal(name, title, icon='fa-window', footer=True, yes_text='Salvar', yes_icon='save', yes_color='success', no_text='Cancelar', no_icon='ban', no_color='info') -%}
<div class="modal fade {{ name }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="text-primary fas {{ icon }}"></i> {{ title }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {{ caller() }}
      </div>
      <div class="modal-footer">
        {% if footer %}
        <button type="button" class="btn btn-raised btn-{{ yes_color }} btn-yes">
          <i id="icon" class="fas fa-{{ yes_icon }}"></i> {{ yes_text }}
        </button>
        <button type="button" class="btn btn-raised btn-{{ no_color }}" data-dismiss="modal">
          <i class="fas fa-{{ no_icon }}"></i> {{ no_text }}
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
